policy_module(herbsters, 1.100.1)

########################################
#
# Declarations
#

type herbsters_t;
type herbsters_exec_t;
init_daemon_domain(herbsters_t, herbsters_exec_t)

permissive herbsters_t;

type herbsters_initrc_exec_t;
init_script_file(herbsters_initrc_exec_t)

type herbsters_conf_t;
files_type(herbsters_conf_t)

type herbsters_var_lib_t;
files_type(herbsters_var_lib_t)

type herbsters_var_run_t;
files_type(herbsters_var_run_t)

type herbsters_port_t;
corenet_port(herbsters_port_t)

########################################
#
# herbsters local policy
#
allow herbsters_t self:process { fork };

allow herbsters_t self:fifo_file rw_fifo_file_perms;
allow herbsters_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(herbsters_t, herbsters_conf_t, herbsters_conf_t)
manage_files_pattern(herbsters_t, herbsters_conf_t, herbsters_conf_t)

manage_dirs_pattern(herbsters_t, herbsters_var_lib_t, herbsters_var_lib_t)
manage_files_pattern(herbsters_t, herbsters_var_lib_t, herbsters_var_lib_t)
files_var_lib_filetrans(herbsters_t, herbsters_var_lib_t, { dir file })

manage_dirs_pattern(herbsters_t, herbsters_var_run_t, herbsters_var_run_t)
manage_files_pattern(herbsters_t, herbsters_var_run_t, herbsters_var_run_t)

sysnet_dns_name_resolve(herbsters_t)
corenet_all_recvfrom_unlabeled(herbsters_t)

allow herbsters_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(herbsters_t)
corenet_tcp_sendrecv_generic_node(herbsters_t)
corenet_tcp_sendrecv_all_ports(herbsters_t)
corenet_tcp_bind_generic_node(herbsters_t)

gen_require(`
    type herbsters_port_t;
')
allow herbsters_t herbsters_port_t:tcp_socket name_bind;

gen_require(`
    type herbsters_port_t;
')
allow herbsters_t herbsters_port_t:tcp_socket name_connect;

domain_use_interactive_fds(herbsters_t)

files_read_etc_files(herbsters_t)

miscfiles_read_localization(herbsters_t)

sysnet_dns_name_resolve(herbsters_t)

allow herbsters_t herbsters_exec_t:file execute_no_trans;
allow herbsters_t self:process setsched;
corecmd_exec_ls(herbsters_t)
corenet_tcp_connect_http_port(herbsters_t)
dev_read_urand(herbsters_t)
fs_getattr_xattr_fs(herbsters_t)
kernel_read_system_state(herbsters_t)
