
## <summary>policy for herbsters</summary>


########################################
## <summary>
##	Transition to herbsters.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`herbsters_domtrans',`
	gen_require(`
		type herbsters_t, herbsters_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, herbsters_exec_t, herbsters_t)
')


########################################
## <summary>
##	Execute herbsters server in the herbsters domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`herbsters_initrc_domtrans',`
	gen_require(`
		type herbsters_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, herbsters_initrc_exec_t)
')


########################################
## <summary>
##	Search herbsters lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`herbsters_search_lib',`
	gen_require(`
		type herbsters_var_lib_t;
	')

	allow $1 herbsters_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read herbsters lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`herbsters_read_lib_files',`
	gen_require(`
		type herbsters_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, herbsters_var_lib_t, herbsters_var_lib_t)
')

########################################
## <summary>
##	Manage herbsters lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`herbsters_manage_lib_files',`
	gen_require(`
		type herbsters_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, herbsters_var_lib_t, herbsters_var_lib_t)
')

########################################
## <summary>
##	Manage herbsters lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`herbsters_manage_lib_dirs',`
	gen_require(`
		type herbsters_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, herbsters_var_lib_t, herbsters_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a herbsters environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`herbsters_admin',`
	gen_require(`
		type herbsters_t;
		type herbsters_initrc_exec_t;
		type herbsters_var_lib_t;
	')

	allow $1 herbsters_t:process { ptrace signal_perms };
	ps_process_pattern($1, herbsters_t)

	herbsters_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 herbsters_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, herbsters_var_lib_t)

')

